.footer{
	color: $grey-primary;
	border-top: 1px solid $white;
	.footer-top{
		background: $bg-body;
		padding: 35px 0px;
		.footer-top-content{
			.footer-news{
				ul{
					padding-left: 0px;
					margin-bottom: 0px;
					li{
						list-style: none;
						a {
							color: $grey-primary; 
						}
					}
				}
			}
			.footer-form{
				a{
					background: #444;
					padding: 5px 10px;
					margin-right: 7px;
					font-size: 18px;
					color: $white;
					text-align: center;
					display: inline-block;
					&:hover{
						background: $background-submit;
					}
					&:last-child{
						margin-right: 0px;
					}
					.fa{
						min-width: 17px;
					}
				}
				#nf-contact-form{
					margin-top: 10px;
				}
			}
		}
	}
	.footer-bottom {
	    background: #292929;
		padding: 5px 0px;
		.footer-bottom-content {
			display: flex;
			display: -webkit-flex;
			@include justify-content(space-between);
			.footer-socical {
			    .footer-socical-title{
		    		float: left;
		    	}
			    .socical{
			    	display: inline-block;
			    	a {
			    		padding: 0px 8px;
			    		.fa{
			    			color: $grey-primary;
			    		}
			    	}
			    }
			}
		}
	}
}