.header{
	.header-top {
		// padding: 4px 0px;
	    background: #232323;
	    color: $grey-primary;
	    font-size: 16px;
	    padding: 5px 0px;
	    .header-top-content{
			display: flex;
			display: -webkit-flex;
			@include justify-content(space-between);
			@include align-items(center);
			.header-hotline{
				a{
					color: $grey-primary;
				}
			}
	    }
	    .header-socical{
	    	a{
	    		color: $grey-primary;
	    		margin-left: 15px;
	    		&:first-child{
	    			margin-left: 0px;
	    		}
	    	}
	    }
		// .header-hotline {
		//     float: left;
		// }
	}
	.header-bottom{
		background: $bg-body;
		.header-info{
			padding: 20px 0px;
			.header-bottom-content{
				text-align: center;
				display: flex;
				display: -webkit-flex;
				@include justify-content(space-around);
				padding: 0px 65px;
				.logo{
					margin: auto 0px;
				}
				.slogan{
					margin: auto 0px;
					span{
						display: block;
						font-weight: 800;
						width: 100%;
						text-transform: uppercase;
						margin: auto 0px;
						&:first-child{	
							color: #fff;
							text-shadow: 2px 0 0 #0069c9, -2px 0 0 #0069c9, 0 2px 0 #0069c9, 0 -2px 0 #0069c9, 1px 1px #0069c9, -1px -1px 0 #0069c9, 1px -1px 0 #0069c9, -1px 1px 0 #0069c9;
							font-size: 28px;
						}
						&:last-child{
							text-shadow: 2px 0 0 $white, -2px 0 0 $white, 0 2px 0 $white, 0 -2px 0 $white, 1px 1px $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white;
							font-weight: 800;
							color: red;
							font-size: 40px;
						}
					}
				}
			}
		}
		.menu{
			.container{
				display: flex;
				display: -webkit-flex;
				.main-menu{
					> div > ul {
						display: flex;
						display: -webkit-flex;
						@include justify-content(space-between);
					}
					ul{
						list-style-type: none;
						margin: 0;
						padding: 0;
						li{
							text-transform: uppercase;
							position: relative;
							.sub-menu{
								left: 0;
								position: absolute;
								z-index: 2222;
								min-width: 170px;
								background: rgba(30, 30, 30, 0.8) no-repeat scroll center center;
								top: 100%;
								// opacity: 0;
								// margin-top: 15px;
								@include transition(all 0.5s ease);
								display: none;
								li{
									padding: 0px;
									width: 100%;
									text-transform: none;
									display: inline-block;
									&:last-child{
										a{
											padding-bottom: 10px;
										}
									}
									&:hover{
										a{
											color: #fefefe;
										}
									}
									a{
										// padding: 0px 10px 10px 10px;
										color: #cdcdcd;
										font-size: 13px;
										padding-left: 24px;
										margin: 0;
										&:after{
											width: 0;
										}
									}
								}
							}
							&:hover{
			                    > .sub-menu {
								    // opacity: 1;
								    // margin-top: 0;
							        display: block;
    								@include animation( 0.5s ease 0s normal none 1 running fadeInUp );
			                    }
							}
							a{
								position: relative;
								color: $grey-title;
								font-size: 14px;
								padding: 5px 0;
								display: block;
								margin: 10px 24px;
								&:after{
									content: "";
									background: $background-submit;
									width: 100%;
									max-width: 0px;
									height: 2px;
									bottom: 0px;
									position: absolute;
									left: 0px;
									 @include transition (max-width 0.5s ease 0s);
								}
								&:hover{
									color: $white;
									&:after{
										max-width: 100%;
									}
								}
							}
						}
						.current_page_item, .current-menu-item{
							
							a{
								position: relative;
								&:after{
									content: "";
									background: $background-submit;
									width: 100%;
									max-width: 100%;
									height: 2px;
									bottom: 0px;
									position: absolute;
									left: 0px;
								}
							}

						}
					}
				}
				.search-box{
					position: relative;
					cursor: pointer;
					display: flex;
					display: -webkit-flex;
					@include align-items(center);
					form{
						input{
							position: absolute;
							top: 100%;
							z-index: 100000;
							right: 0;
							background: rgba(0,0,0,0.8) no-repeat scroll center center;
							display: none;
							padding: 5px 35px 5px 20px;
							color: #fff;
							border: none;
						}
						.search-icon{
							.fa{
								color: $grey-title;
							}
						}
					}
				}
			}
		}
	}
}
//menu mobile
.menu{
	.mean-container{
	    position: relative;
	    width: 100%;
	    display: inline-block;
	    height: 45px;
	    .mean-bar{
		    background: none;
		    left: 0;
		    padding: 2px 0 4px;
		    position: absolute;
		    top: 0px;
		    z-index: 9;
		    max-width: 300px;
		    .meanmenu-reveal{
				background: $bg-body;
			    border: 1px solid $grey-title;
			    left: 0 !important;
			    top: 0;
			    height: 20px;
			    line-height: 20px;
			    width: 22px;
			    padding: 10px 11px 10px;
			    span{
			    	background: $grey-title;
			    }
		    }
		    .meanclose{
		    	color: $grey-title;
		    }
		    .mean-nav{
			    background: $bg-body !important;
			    margin-top: 33px;
			    ul{
			    	margin-bottom: 0px;
			    	li{
			    		a{
						    font-size: 14px;
						    padding-bottom: 6px;
						    padding-top: 10px;
						    color: $grey-title;
						    text-transform: uppercase;
						    &:hover{
						    	color: $white;
						    }
			    		}
			    		.mean-expand{
						    height: 13px;
						    line-height: 13px;
						    &:hover{
						    	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
						    }
			    		}
			    		.sub-menu{
			    			li{
			    				a{
			    					text-transform: none;
			    					font-size: 13px;
			    				}
			    			}
			    		}
			    	}
			    }

		    }
	    }	
	}
}