.page-album-content {
    margin-top: -30px;
	// .modal-dialog {
 //        max-width: 100%;
 //        position: absolute;
 //        top: 50%;
 //        left: 50%;
 //        margin: 0;
 //        @include transform(translate(-50%, -50%) !important);
 //        .modal-content{
 //        	border: 0px;
 //        	@include border-radius(0px);
 //        	img{
 //        		padding: 5px 5px 0px;
 //                width: 100%;
 //            }
 //            .title-news{
 //                padding: 12px;
 //                margin-bottom: 0px;
 //                overflow: hidden;
 //                white-space: nowrap; 
 //                h3{
 //                    color: #111;
 //                    font-size: 16px;
 //                    font-weight: 300;
 //                    text-align: center;
 //                }
 //            }
 //        }
 //    }
    .msc-listing{
        width: 100%;
        .item{
            float: left;
            margin-top: 30px;
            img{
                @extend background-cover;
                cursor: pointer;
                &:hover{
                    opacity: 0.7;
                }
    		}
    	}
    }
    .pagination{
        padding: 0px 15px;
    }
}