.banner-no-home{
	position: relative;
	background: $bg-body;
	margin-bottom: 60px;
	img{
		@extend background-cover;
	}
	.page-title{
		position: absolute;
		top: 0px;
		width: 100%;
		text-align: center;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		h2{
			font-size: 30px;
			color: #fff;
			font-weight: 700;
			margin-bottom: 0px;
			@include animation(500ms linear 1000ms normal both 1 running fadeInUp);
		}
	}

}