.page-category-content{
	color: $grey-title;
    .msc-listing{
	    width: 100%;
	    display: flex;
	    display: -webkit-flex;
	    @include flex-wrap(wrap);
    }
	.item{
		display: inline-block;
		border-bottom: 1px solid #d2d2d2;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 14px;
		width: 100%;
		@include hover-img-color-item();
		figure{
			float: left;
			width: 185px;
			img{
				@extend background-cover;
			}
		}
		.info{
			float: left;
			width: calc(100% - 185px);
			padding-left: 15px;
		}
		&:first-child{
			padding-top: 0px;
		}
	}
}
