.page-contact-content{
	background: $bg-body;
	color: $grey-title;
	line-height: 24px;
	.contact-map{
		iframe{
			width: 100%;
			height: 370px;
		}
	}
	.contact-info{
		padding: 35px 0px;
		.contact-content{
			margin-bottom: 20px;
		}
		.contact-socical{
			.socical{
				a{
					margin-right: 20px;
					padding: 15px 25px;
					&:first-child{
						background: rgba(0, 0, 0, 0) url('../images/icon-facebook.jpg') no-repeat scroll center center;
					}
					&:nth-child(2){
						background: rgba(0, 0, 0, 0) url('../images/icon-phone.jpg') no-repeat scroll center center;
					}
					&:nth-child(3){
						background: rgba(0, 0, 0, 0) url('../images/icon-youtube.jpg') no-repeat scroll center center;
					}
					&:last-child{
						margin-right: 0px;
						background: rgba(0, 0, 0, 0) url('../images/icon-tripadvisor.jpg') no-repeat scroll center center;
					}
				}
			}
			h2{
				margin-bottom: 25px;
			}
		}
		
	}
}