.home-video-content {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}
.home-introduction{
    @extend background-cover;
    padding: 50px 0px;
    background-attachment: fixed;
    position: relative;
}
.home-introduction-content{
    display: inline-block;
    .home-introduction-info{
        width: 50%;
        float: right;
        text-align: justify;
        padding: 30px 25px;
        background: rgba(17,17,17,0.4);
    }
}
.home-video{
    padding: 35px 140px;
    background: #292929;
}
.home-room-type-content{
    padding: 60px 0px;
    .title-section{
        h2{
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
        }
    }
    .item{
        margin-top: 30px;
        .info{
            .title-room{
                border: 0px; 
                h3{
                    text-transform: none;
                }
            }
            .meta{
                padding: 0px;
                line-height: 1.5;
                height: 22px;
            }
            .read-more{
                color: #ddd;
            }
        }
    }
}
.home-testimonial-content{
    padding: 50px 0px;
    text-align: center;
    .title-testimonial{
        h3{
            font-size: 16px;
            height: 30px;
            font-weight: 600;
        }
    }
    .title-section{  
        h2 {
            color: #b89f80;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 600;
        }
    }
    .testimonial-content {
        padding: 15px 0px;
    }
}