.page-404 {
    min-width: 50%;
    padding: 0;
    margin: auto;
    text-align: center;
}
.page-404-text-err {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    display:block;
}
.page-404-title{
	font-size: 2em;
}
.page-404-title2 {
    display: block;
    margin-bottom: 40px;
}