.related-news-content{
	.related-title{
		h2{
			font-size: 24px;
			font-weight: 600;
		}
	}
	.msc-listing{
		.item{
			font-size: 13px;
			border-bottom: 0px;
			padding-bottom: 40px;
			padding-top: 40px;
			.title-news{
				height: 25px;
				overflow: hidden;
			}
			.info{
				width: calc(100% - 90px);
			}
			figure{
				width: 90px;
			}
		}
		
	}
}