@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
	.home-testimonial-content {
		.slick-list {
			article {
			    padding: 0 30px;
			}
		}
		.slick-prev {
		    left: 0;
		}
		.slick-next {
			right: 0;
		}
	}
}
//end 1200px

@media screen and (max-width: 1024px) {
	//header
	.header{
		.header-bottom{
			.menu{
				.container{
					.search-box{
						form{
							input{
								top: 0px;
								right: 30px;
								background: rgba(255,255,255,0.1);
							}
							.search-icon{
								.fa{
									font-size: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
	//menu
	.menu{
		.mean-container{
			height: 35px;
			.mean-bar{
				.meanmenu-reveal{
					padding: 4px 7px 4px;
				}
			}
		}
	}
	//front-page
	.home-room-type-content{
		padding: 30px 0;
		.item{
			.info{
				.meta{
					height: auto;
				}
				.read-more{
					display: inline-block;
					margin-top: 5px;
				}
			}
			.title-room{
				h3{
					padding: 8px 0px;
				}
			}
		}
	}
	//single room
	.single-room-content{
		.room-standard{
			.room-standard-content{
				padding: 5px 0px;
			}
		}
	}
}
//end 1024px

@media screen and (max-width: 992px) {
	// header
	.header{
		.header-bottom{
			.header-info{
				.header-bottom-content{
					padding: 0px 20px;
					.slogan{
						span{
							&:first-child{
								font-size: 20px;
							}
							&:last-child{
								font-size: 28px;
							}
						}
					}
				}
			}
		}
	}
	.page-search .page-search-content{
		margin-bottom: 20px;
	}
	//related post
	.related-news-content{
		.msc-listing{
			.item{
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	} 
}
//end 992px
@media screen and (max-width: 767px) {
	// footer
	.footer{
		.footer-top-content{
			.footer-address, .footer-news{
				margin-bottom: 20px;
			}
		}
		.footer-bottom{
			.footer-bottom-content{
				display: inline-block;
				text-align: center;
				width: 100%;
				font-size: 14px;
				.footer-socical{
					.footer-socical-title{
						float: none;
					}
				}	
			}

		}
	}
	//front page
	.home-video{
		padding: 15px 0px;
	}
	.home-introduction-content{
		.home-introduction-info{
			width: 100%;
		}
	}
	.home-introduction{
		padding: 25px 0px;
		background-attachment: scroll;
	}
	// banner no home
	.banner-no-home{
		margin-bottom: 30px;
		img{
			height: 150px;
		}
	}
	//header
	.header{
		.header-top{
			.header-top-content{
				display: inline-block;
				width: 100%;
				text-align: center;
				font-size: 14px;
			}
		}
		.header-bottom{
			.header-info{
				.header-bottom-content{
					.logo{
						margin-bottom: 15px;
					}
					.image-right {
					    display: none;
					}
				}
			}
		}
	}
	//sidebar
	.sidebar{
		margin-bottom: 20px;
		.widget_media_image{
			text-align: center;
			img{
				width: 50%;
			}
		}
	}
	//sigle room
	.single-room-content{
		.room-standard{
			padding-top: 20px;
		}
	}
	//related post
	.related-news-content{
		.msc-listing{
			.item{
				padding-top: 0px;
				padding-bottom: 20px;
				&:first-child{
					padding-top: 0px;
				}	
			}
		}
	}
}
//end 767px

@media screen and (max-width: 575px) {
	//header
	.header{
		.header-bottom{
			.header-info{
				.header-bottom-content{
					display: inline-block;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	//single room
	.single-room-content{
		.room-standard{
			.room-standard-content{
				ul{
					li{
						width: 50%;
						&:nth-child(3n+1){
							clear: none;
						}
						&:nth-child(2n+1){
							clear: left;
						}
					}
				}
			}
		}
	}
	// page album
	// .page-album .modal-dialog{
	// 	width: 85%;
	// }
}
//end 575px

@media screen and (max-width: 480px) {
	// header
	.header{
		.header-bottom {
			.header-info{
				.header-bottom-content{
					.slogan{
						span{
							&:first-child{
								font-size: 14px;
							}
							&:last-child{
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
	//banner no home
	.banner-no-home {
		.page-title{
			h2{
				font-size: 20px;
			}
		}
	}
	//category
	.page-category-content{
		.item{
			figure{
				width: 100%;
				float: none;
				margin-bottom: 20px;
			}
			.info{
				width: 100%;
				padding-left: 0px;
				.meta{
					padding: 5px 0px;
				}
			}
		}
	}
	//sidebar
	.sidebar {
		.msc-listing {
			.item {
				figure{
					float: left;
					margin-bottom: 0px;
				}
			}
		}
	}
	.sidebar,.related-news-content {
		.msc-listing {
			.item {
				.info{
					padding-left: 15px;
					margin-bottom: 0px;
				}
			}
		}
	}
	//related post
	.related-news{
		.related-news-content{
			.msc-listing{
				margin-bottom: 20px;
				.item{
					padding-top: 20px;
					padding-bottom: 0px;
					figure{
						float: left;
						margin-bottom: 0px;
					}
				}
			}
		}
	}
	//pagination
	.pagination-text{
		display: none;
	}
	.page-category-content {
		.pagination-text{
			display: none;
		}
	}

	.home-testimonial-content {
		.slick-list {
			article {
			    padding: 0;
			}
		}
		.slick-prev, .slick-next {
		    display: none !important;
		}
	}
}
//end 480px

@media screen and (max-width: 400px) {
	//header
	.header {
		.header-bottom {
			.header-info {
				.header-bottom-content {
					.logo{
						margin-bottom: 20px;
					}
				}
			}
			.menu{
				.container{
					.search-box{
						form{
							input{
								padding: 5px 20px 5px 10px;
							}
						}
					}
				}
			}
		}
	}
	// category
	.page-category {
		.sidebar{
			margin-bottom: 30px;
		}
	}
	.page-category-content {
		.msc-listing{
			display: inline-block;
			width: 100%;
		}
	}
	//sidebar
	.sidebar{
		.widget_media_image{
			img{
				width: 100%;
			}
		}
	}
	//front page
	.home-room-type-content .item, .page-album-content .msc-listing .item{
		max-width: 100%;
		@include flex(1 1 100%);
	}
	//single room
	.single-room-content {
		.room-standard {
			.room-standard-content {
				ul {
					li{
						width: 100%;
					}
				}
			}
		}
	}

}
//end 400px

@media screen and (max-width: 320px) {

}
