.page-room-content{
    .msc-listing{
	    width: 100%;
	    display: flex;
	    display: -webkit-flex;
	    @include flex-wrap(wrap);
    }
	.item{
		padding-bottom: 20px;
		figure{
			@include hover-img-toa;
		}
		.title-room{
			border-bottom: 2px solid #ccc;
			h3{
				font-size: 16px;
				font-weight: 600;
				color: $grey-primary;
				text-transform: uppercase;
				margin-bottom: 0px;	
				padding: 13px 0px;
				&:hover{
					color: #CD853F;
				}
			}
		}
		.meta{
			padding: 15px 0px;
			line-height: 2.0;
			margin: 0;
		}
		img{
			@extend background-cover;
		}
	}
	.pagination{
		text-align: center;
	}
}

.vbox-title {
	height: auto;
	font-size: 16px;
	font-weight: 600;
}