.sidebar{
	margin-bottom: 30px;
	img{
		@extend background-cover;
	}
	.msc-listing{
		padding: 0px;
		.item{
			font-size: 13px;
			.info{
				width: calc(100% - 90px);
				.title-news{
					h3{
						height: 20px;
						overflow: hidden;
						text-transform: uppercase;
						font-size: 14px;
					}
				}
			}
			figure{
				width: 90px;
			}
		}
	}
	.sidebar-title{
		margin-bottom: 0px;
		background: $background-form;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		padding: 10px 0px;
		border-bottom: 1px solid #5c5245;
		color: $white;
	}
}