.page-single-room{
	margin-bottom: 20px;
}
.single-room-content{
	.room-gallery{
		img{
			@extend background-cover;
		}
		.slider-for{
			margin-bottom: 10px;
		}
		.slick-slider {
			.slick-list{
				padding: 0px !important;
				.slick-slide{
					margin-right: 8px;
				}
			}
		}
		.slider-nav{
			figure{
			    position: relative;
			}
			.slick-current{
			    &::after {
				    content: "";
				    position: absolute;
				    left: 0;
				    top: 0;
				    // padding: 10px;
				    z-index: 9;
				    width: 100%;
				    height: 100%;
				    border: 3px solid #fff;
				}
			}
		}
		.slider{
			.slick-prev{
				left: -32px;
			}
			.slick-next{
				right: -20px;
			}
			.slick-prev, .slick-next{
				&:before{
					padding: 4px;
				}
			}
		}
	}
	.room-standard{
		padding-top: 50px;
		clear: both;
		.room-standard-content{
			border-top: 1px solid #967c61;
			border-bottom: 1px solid #967c61;
			padding: 35px 0px;
			margin-top: 20px;
			ul{
				margin: 0px;
				padding: 0px;
				list-style-type: none;
			    display: inline-block;
			    width: 100%;
				li{
					width: 33.3%;
					float: left;
					padding: 5px;
					&:nth-child(3n+1){
						clear: left;
					}
				}
			}
		}
	}
	.room-content{
		padding: 25px 0px;
		text-align: justify;
	}
	.meta {
	    margin-bottom: 20px;
	    line-height: 1.8;
	}
}