//arrow - banner home
.slick-prev {
    left: 35px;
    &::before {
        border-left: 4px solid $white;
        @include transform( translate(-30%, -50%) rotate(-45deg) );
    }
}
.slick-next {
    right: 35px;
    &::before {
        border-right: 4px solid $white;
        @include transform( translate(-60%, -50%) rotate(45deg) );
    }
}
.slick-prev, .slick-next {
    background: transparent;
    height: 40px;
    width: 40px;
    z-index: 2;
    &::before {
        border-top: 4px solid $white;
        content: "" !important;
        font-size: 0;
        left: 50%;
        opacity: 1;
        padding: 8px;
        position: absolute;
        top: 50%;
    }
}
.slick-dots{
    bottom: 0px;
    li.slick-active{
        button{
            &:before{
                color: transparent;
                opacity: 1;
                background-color: $white;
                border: none;
            }
        }
    }
    li{
        width: 5px;
        height: 20px;
        button{
            &:before{
                font-size: 9px;
                width: 9px;
                height: 9px;
                color: transparent;
                border: 1px solid $white;
                border-radius: 50%;
                opacity: 1;
                line-height: 8px;
            }
        }
    }
}

.home-testimonial-content{
    .slick-prev {
        left: -35px;
        height: calc(100% - 30px);
        top: 0;
        @include transform(translateY(0));
    }
    .slick-next{
        right: -35px;
        height: calc(100% - 30px);
        top: 0;
        @include transform(translateY(0));
    }
}


#cboxPrevious:focus, #cboxNext:focus {
    outline: none;
}
.slick-active:focus {
    outline: none !important;
}

//slide nf theme
.nf-style-1 {
    .slick-prev {
        left: 50px;
    }
    .slick-next {
        right: 50px;
    }
}
