.form-contact{
	background: $background-form;
	padding: 0px 30px 30px 30px;
	max-width: 100% !important;
	.wrap-group{
		&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
			width: 48%;
		}
		&:nth-child(1),&:nth-child(3){
			float: left;
		}
		&:nth-child(2), &:nth-child(4){
			float: right;
		}
	}
	input, textarea{
		@include border-radius(0px);
		background: $background-input !important;
		color: $grey-title !important;
		font-size: 14px;
	}
	textarea{
		height: 78px;
		line-height: 1.4;
	}
	label{
		margin: 10px 0px;
	}
	.btn-submit{
		background: $background-submit !important;
		position: relative;
		color: #fff;
		padding: 5px 20px;
		@include border-radius(0px);
		border: none;
		font-size: 14px;
		margin-top: 15px;
		cursor: pointer;
	}
}
//form footer
.form-footer{
	textarea{
		height: 67px;
		line-height: 1.4;
	}
	.wrap-group{
		display: inline-block;
		width: 100%;
		&:first-child{
			width: 50%;
			float: left;
			padding-right: 5px;	
			margin-bottom: 10px;
		}
		&:nth-child(2){
			width: 50%;
			padding-left: 5px;
			margin-bottom: 10px;
		}
	}
	.form-control{
		@include border-radius(0px);
		border: none;
		font-size: 12px;
	}
	.form-group{
		clear: both;
		.form-control{
			margin-top: -5px;
			padding: 5px 10px;
			font-size: 12px;
			color: #444;
		}
	}
	.btn-submit{
		background-color: $background-submit;
		color: #fff;
		border: none;
		@include border-radius(0px);
		font-size: 14px;
		padding: 5px 15px;
		float: right;
		margin-top: 5px;
		cursor: pointer;
	}
}
.form-sidebar{
	background: $background-form ;
	padding: 30px 20px;
	padding-top: 10px;
	text-align: center;
	input, select{
		@include border-radius(0px);
		background: $background-input !important;
		color: $grey-title !important;
		font-size: 14px;
		height: 35px;
		padding: 5px 0px 5px 10px;
	}
	label{
		display: block;
		text-align: left;
		margin-top: 10px;
	}
	.wrap-group, .form-group{
		&:first-child{
			label{
				margin-top: 0px;
			}
		}
	}
	.btn-submit{
		background-color: $background-submit !important;
		position: relative;
		color: #fff !important;
		padding: 10px 25px;
		@include border-radius(0px);
		border: none;
		font-size: 14px;
		margin-top: 20px;
		margin: 20px auto 0px auto;
		display: inline-block;
		cursor: pointer;
	}
	.wrap-group{
		display: inline-block;
		width: 100%;
		&:nth-child(6),&:nth-child(8){
			width: 50%;
			float: left;
			padding-right: 5px;
		}
		&:nth-child(7),&:nth-child(9){
			width: 50%;
			padding-left: 5px;
		}
		select{
			background: #5c5245 url('../images/icon-dropdown.png') no-repeat scroll 94% center;
		}
	}
}
// Responsive
@media screen and (max-width: 992px){
	// form sidebar
	.form-sidebar{
		.wrap-group{
			&:nth-child(6), &:nth-child(8),&:nth-child(7), &:nth-child(9){
				width: 100%;
				padding: 0;
			}
		}
	}
}
@media screen and (max-width: 767px){
	//form-sidebar
	.form-sidebar{
		.wrap-group{
			&:nth-child(6), &:nth-child(8){
				width: 50%;
				float: left;
				padding-right: 5px;
			}
			&:nth-child(7), &:nth-child(9){
				width: 50%;
				padding-left: 5px;
			}
			&:nth-child(10){
				clear: both;
			}
		}
	}
	//contact form
	.contact-form{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 575px){
	//footer form
	.form-footer{
		.wrap-group{
			&:first-child,&:nth-child(2){
				width: 100%;
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
}
@media screen and (max-width: 480px){
	// form sidebar
	.form-sidebar{
		.wrap-group{
			&:nth-child(6),&:nth-child(8),&:nth-child(7), &:nth-child(9){
				width: 100%;
				padding: 0;
			}
		}
	}
	// form contact
	.form-contact{
		.wrap-group{
			&:nth-child(1),&:nth-child(2),&:nth-child(3), &:nth-child(4){
				width: 100%;
			}
		}
	}
}