.page-navi {
    text-align: center;
	margin: 0px;
	padding: 30px 0px;
    .page-numbers {
	    // background: #967c61;
	    color: $grey-primary;
	    padding: 7px 13px;
	    border: 1px solid $boder-color;
	    &:hover{
	    	background: $background-submit;
	    }
	}
	.current {
	    background: $background-submit none repeat scroll 0 0;
	    color: $grey-primary;
	    border: 1px solid $boder-color;
	}
}

//pagenavi listing
.pagination {
	display: block;
    text-align: right;
    width: 100%;
    position: relative;
    ul {
    	list-style-type: none;
	    margin: 0 auto 0px;
	    display: inline-block;
	    padding: 30px 0px;
	    li {
		    float: left;
		    padding: 0 3px;
		    &:last-child{
		    	padding-right: 0px;
		    }
		    a, span {
				padding: 3px 10px;
				border: 1px solid $boder-color;
				color: $grey-primary;
				font-size: 18px;
				&:hover{
					background: $background-submit;
				}
			}
			.current {
    			border: 1px solid $boder-color;
    			background: $background-submit;
			}
		}
	}
}
.page-category-content {
	.pagination{
		width: calc(100% - 50px);
		float: right;
	}
	.pagination-text{
		width: 50px;
		float: left;
		display: block;
		padding: 35px 0px;
	}
}
.page-album-content{
	position: relative;
	.pagination{
		width: 100%;
		float: none;
	}
	.pagination-text{
		width: 100px;
		float: none;
		position: absolute;
		bottom: 0px;
		padding: 35px 15px;
	}
}