
a:hover, a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input:focus, select:focus, textarea:focus { outline: none; }
img { max-width: 100%; height: auto; }
figure { margin: 0; }
.widget p { margin: 0; }
.main { display: inline-block; width: 100%;}
.fix-container { width: 900px; margin: auto; }
h1, h2, h3, h4, h5, h6 { line-height: 1.4; }
p { margin-bottom: 5px; }

body {
    font-weight: 400;
	color: $grey-primary;
	font-size: 14px;
    background:$bg-body;
    font-family: 'Open Sans', sans-serif;
}


/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend background-contain; */
background-contain {
    @include background-size( contain );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}


#back-to-top {
    background: green;
    bottom: 5px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;

    .fa {
        color: #ffffff;
    }
}
.title-footer {
    h2 {
        font-size: 18px;
        font-weight: 600;
    }
}
.title-news{
    h3{
        font-size: 16px;
        color: $grey-primary;
        font-weight: 600;
        margin-bottom: 0px;
    }
}
.meta{
    margin-bottom: 10px;
}
.title-widget{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &:after{
        content: "";
        position: absolute;
        width: 15%;
        height: 2px;
        background: #aa8667;
        left: 0px;
        bottom: 0px;
    }
}
.title-news h3:hover{
    color: #CD853F;
}
