// mixin
@mixin border-radius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    -o-border-radius: $value;
    -ms-border-radius: $value;
}
/* .class { @include border-radius( 0 ); } */
@mixin background-size($value) {
	background-size: $value;
	-moz-background-size: $value;
	-webkit-background-size: $value;
	-o-background-size: $value;
	-ms-background-size: $value;
}
/* .class { @include background-size( 0 ); } */
@mixin transform($value) {
	transform: $value;
	-moz-transform: $value;
	-webkit-transform: $value;
	-o-transform: $value;
	-ms-transform: $value;
}
/* .class { @include transform( 0 ); } */
@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	-o-box-shadow: $value;
	-ms-box-shadow: $value;
}
/* .class { @include box-shadow( 0 ); } */
@mixin filter($value) {
	filter: $value;
	-moz-filter: $value;
	-webkit-filter: $value;
	-o-filter: $value;
	-ms-filter: $value;
}
/* .class { @include filter( 0 ); } */
@mixin transition($value) {
	transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
	-o-transition: $value;
	-ms-transition: $value;
}
/* .class { @include transition( 0 ); } */
@mixin animation($value) {
	animation: $value;
	-moz-animation: $value;
	-webkit-animation: $value;
	-o-animation: $value;
	-ms-animation: $value;
}
/* .class { @include animation( 0 ); } */
@mixin transform-origin($value) {
	transform-origin: $value;
	-moz-transform-origin: $value;
	-webkit-transform-origin: $value;
	-o-transform-origin: $value;
	-ms-transform-origin: $value;
}
/* .class { @include transform-origin( 0 ); } */
@mixin appearance($value) {
	appearance: $value !important;
	-moz-appearance: $value !important;
	-webkit-appearance: $value !important;
	-o-appearance: $value !important;
	-ms-appearance: $value !important;
}
/* .class { @include appearance( 0 ); } */


//flex
@mixin flex-wrap($value) {
	flex-wrap: $value;
	-moz-flex-wrap: $value;
	-webkit-flex-wrap: $value;
	-o-flex-wrap: $value;
	-ms-flex-wrap: $value;
}
/* .class { @include flex-wrap( 0 ); } */
@mixin flex-direction($value) {
	flex-direction: $value;
	-moz-flex-direction: $value;
	-webkit-flex-direction: $value;
	-o-flex-direction: $value;
	-ms-flex-direction: $value;
}
/* .class { @include flex-direction( 0 ); } */
@mixin flex-flow($value) {
	flex-flow: $value;
	-moz-flex-flow: $value;
	-webkit-flex-flow: $value;
	-o-flex-flow: $value;
	-ms-flex-flow: $value;
}
/* .class { @include flex-flow( 0 ); } */
@mixin justify-content($value) {
	justify-content: $value;
	-moz-justify-content: $value;
	-webkit-justify-content: $value;
	-o-justify-content: $value;
	-ms-justify-content: $value;
}
/* .class { @include justify-content( 0 ); } */
@mixin align-items($value) {
	align-items: $value;
	-moz-align-items: $value;
	-webkit-align-items: $value;
	-o-align-items: $value;
	-ms-align-items: $value;
}
/* .class { @include align-items( 0 ); } */
@mixin order($value) {
	order: $value;
	-moz-order: $value;
	-webkit-order: $value;
	-o-order: $value;
	-ms-order: $value;
}
/* .class { @include order( 0 ); } */
@mixin flex($value) {
	flex: $value;
	-moz-flex: $value;
	-webkit-flex: $value;
	-o-flex: $value;
	-ms-flex: $value;
}
/* .class { @include flex( 0 ); } */


// .class { @include respon-img-full; }
@mixin respon-img-full() {
	.category-content {
		.item {
		    padding: 20px;
		    @include flex-wrap( wrap );
		    figure {
			    margin: 0 0 15px;
			    max-width: 100%;
			}
			.info {
			    width: 100%;
			}
		}
	}
}
// .class { @include hover-title-top; }
@mixin hover-title-top() {
	position: relative;
	overflow: hidden;
	.title-news-feature {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@include transition( 0.5s ease 0s );
		@include transform( translateY(100%) );
	}
	&:hover {
		.title-news-feature {
		    @include transform( translateY(0) );
		}
	}
}
// .class { @include hover-img-toa-right-left; }
@mixin hover-img-toa-right-left() {
    overflow: hidden;
    position: relative;
    a {
	    &::after, &::before {
		    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    position: absolute;
		    @include transition( all 0.5s ease 0s );
		    width: 100%;
	    }
		&::after {
		    left: -100%;
		    top: -100%;
		}
	    &::before {
		    bottom: -100%;
		    right: -100%;
		}
	}
    &:hover {
	    a{
		    &::after {
		        left: 0;
		        top: 0;
		    }
		    &::before {
		        right: 0;
		        bottom: 0;
		    }		    
		}
	}
}
// .class { @include hover-img-toa-right; }
@mixin hover-img-toa-right() {
    overflow: hidden;
    position: relative;
    a::after {
        background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: -100%;
        position: absolute;
        top: -100%;
        width: 100%;
        @include transition( all 0.5s ease 0s );
    }
    &:hover a::after {
        left: 0;
        top: 0;
    }
}
// .class { @include hover-img-toa; }
@mixin hover-img-toa() {
	overflow: hidden;
	img {
	    @include transition( all 0.5s ease 0s );
	    &:hover {
	        @include transform( scale(1.2, 1.2) );
		}
	}
}
// .class { @include hover-img-toa-item; }
@mixin hover-img-toa-item() {
	figure {
		overflow: hidden;
		img {
		    @include transition( all 0.5s ease 0s );
		}
	}
	&:hover {
		figure {
			img {
				@include transform( scale(1.2, 1.2) );
			}
		}
	}
}
// .class { @include hover-img-color; }
@mixin hover-img-color() {
	img {
	    @include transition( all 0.5s ease 0s );
	    &:hover {
	    	@include filter( brightness(110%) );
		}
	}
}
// .class { @include hover-img-color-item; }
@mixin hover-img-color-item() {
	figure {
		img {
		    @include transition( all 0.5s ease 0s );
		}
	}
    &:hover {
		figure {
			img {
		    	@include filter( brightness(110%) );
			}
		}
	}
}
// .class { @include hover-img-toa-vuong; }
@mixin hover-img-toa-vuong() {
	position: relative;
	&::after {
	    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	    content: "";
	    height: calc(100% - 30px);
	    left: 50%;
	    position: absolute;
	    top: 50%;
	    width: calc(100% - 30px);
	    @include transition( all 0.5s ease 0s );
	    @include transform( translate(-50%, -50%) scale(0, 0) );
	}
	&:hover::after {
	    @include transform( translate(-50%, -50%) scale(1, 1) );
	}
}
// .class { @include hover-img-xoay-vuong; }
@mixin hover-img-xoay-vuong() {
	position: relative;
	overflow: hidden;
	&::after {
	    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	    content: "";
	    height: calc(100% - 30px);
	    left: 50%;
	    position: absolute;
	    top: 50%;
	    width: calc(100% - 30px);
	    @include transition( all 0.5s ease 0s );
	    @include transform( translate(-50%, -50%) scale(0, 0) rotate(0deg) );
	}
	&:hover::after {
	    @include transform( translate(-50%, -50%) scale(1, 1) rotate(-360deg) );
	}
}
// .class { @include hover-img-toa-right-left-vuong; }
@mixin hover-img-toa-right-left-vuong() {
    overflow: hidden;
    position: relative;
	a {
		&::after {
		    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
		    content: "";
		    height: calc(100% - 30px);
		    left: 50%;
		    position: absolute;
		    top: 50%;
		    width: calc(100% - 30px);
		    @include transition( all 0.5s ease 0s );
		    @include transform( translate(-50%, -50%) scale(0, 0) );
		}
		&:hover::after {
		    @include transform( translate(-50%, -50%) scale(1, 1) );
		}
	    div {
		    &::after, &::before {
			    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
			    content: "";
			    height: 100%;
			    position: absolute;
			    @include transition( all 0.5s ease 0s );
			    width: 100%;
		    }
			&::after {
			    left: -100%;
			    top: -100%;
			}
		    &::before {
			    bottom: -100%;
			    right: -100%;
			}
		}
	    &:hover {
		    div {
			    &::after {
			        left: 0;
			        top: 0;
			    }
			    &::before {
			        right: 0;
			        bottom: 0;
			    }		    
			}
		}
	}
}


