// Colors
$bg-body: #0a0a0a;
$grey-primary: #ddd;
$grey-title: #cbcbcb;
$hover-color: #0069c9;
$background-form: #3d372f;
$background-input: #5c5245;
$background-submit: #967c61;
$boder-color: #d2d2d2;
$white: #fff;
